<!DOCTYPE html>
<html lang="en">
<head>
	<title>Agistic</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCdrJMB4vD1aWGOMM6r3ickS0lMQT_RJMM",
    authDomain: "frosthackdb.firebaseapp.com",
    projectId: "frosthackdb",
    storageBucket: "frosthackdb.appspot.com",
    messagingSenderId: "91260967403",
    appId: "1:91260967403:web:7fc78a81573d359257a1ae",
    measurementId: "G-9TEMYQ2CEK"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  </script>
</head>
<style>
	body {
		margin-top: 65px;
	}
</style>
<body>
	<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #467cdb;">
	<div class="container-fluid">
	<a class="navbar-brand" style="color: white;" href="#">Agistic</a>	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon">
		</span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active"> <a class="ab" href="/#about">About</a></li>
			 <li class="nav-item "><a class="ab"href="/#gettingstarted">Getting Started</a></li>
			 <li class="nav-item "><a class="ab" href="/login">Login/Signup</a></li>
			 <li class="nav-item "><a class="ab" href="/#contact">Contact</a></li>
       <li class="nav-item" id="show1" style="display: none; cursor: pointer;"><a class="ab" href="/chat">Chat</a></li>
       <li class="nav-item" id="show2" style="display: none;  cursor: pointer;"><a class="ab" onclick="logout()">Logout</a></li>
		</ul>
	</div>
	</div> 
</nav>

<section id="hero" class="d-flex align-items-center">
    <div class="container" style="padding-left:40px;">
      <h2>Tracking made Easy</h2>
	  <a href="/track" style="text-decoration: none;" >
		<button class="trackbtn" style="outline:none;">Track</button> </a>
    </div>
	<img src="img/logo.png" />
  </section>

<!--About-->
<div class="container-fluid d-flex about" id="about">
	<div class="row text-center justify-content-center align-self-center">
		<div class="col-12 ">
			<h2 class="title">ABOUT</h2><div class="line"></div><br>
   
  <p class="pa">dea
	We have built a web application that helps improve the way demand-supply chain works in a two-fold way. Firstly, we have an ethereum based blockchain to store all the data about where an item was manufactured/produced, where was the warehouse, etc. An account logged in a manufacturer can add a product, a warehouse account can change state and the end user can trace exactly where his or her products come from and how much time it took to reach there. This is useful because blockchain is immutable, so there is no chance of tampering with food or medicine products. Also tracing makes it easy to reach out and recall defected pieces. 

Secondly, we have a chat option with separate rooms where manufacturers can communicate with farmers or resturants/end-users who use their product. They can make an order through the chat room and also check-up on the product shipment status.
</p>

		</div>
	</div>
</div>

<!--- Getting started Section -->
<div class="container-fluid d-flex gettingstarted" id="gettingstarted">
	<div class="row text-center justify-content-center align-self-center">
		<div class="col-12 ">
			<h2 class="title">Getting Started</h2><div class="line"></div><br>
   
			<div class="container-fluid padding" >
				<div class="row text-center padding" style="font-size: 1rem;">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<img src="img/code.svg" width="40%" alt="IMAGE" class="img-fluid">
						<h3>Enter the Code</h3>
						<p>Check the code on product and enter the respective code.</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<img src="img/receive.png" width="40%" alt="IMAGE" class="img-fluid">
						<h3>Receive your assessment</h3>
						<p>lWithin 10 seconds, you'l receive the tracking details.</p>
					</div>
					<div class=" col-sm-12 col-md-4">
						<img src="img/check.png" width="50%" alt="IMAGE" class="img-fluid">
						<h3>Save and Check the details</h3>
						<p>Securely save details and keep track of your products.</p>
					</div>
				</div>
				</div>

		</div>
	</div>
</div>


<!--Contact INfo-->
<footer>
<div class="container-fluid padding" id="contact">
	<div class="row padding text-center">
		<div class="col-12 social padding">
			<a href="/"><i class="fab fa-facebook"></i></a>
			<a href="/"><i class="fab fa-instagram"></i></a>
            <a href="/"> <i class="fab fa-linkedin"></i></a>
		</div>
	</div>
</div>
</footer>

</body>
<script  type="text/javascript">
    firebase.auth().onAuthStateChanged(function(user){ 
       if (user) { 
  // User is signed in.
        var id= user.uid;
        document.getElementById('show1').style.display='block';
        document.getElementById('show2').style.display='block';
        } else {
  // No user is signed in.
  console.log("Please Sign-Up first!");
          }
    });
    function logout() {
        firebase.auth().signOut().then(() => {
            window.location = '/';
}).catch((error) => {
  console.log(error);
});
    }
</script>
</html>
<!-- 5405c2 -->
