<!DOCTYPE html>
<html lang="en">
<head>
	<title>FrostHack</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
</head>
<style>
	body {
		margin-top: 65px;
        background-color: #e9e9e9;
	}
    input {
        padding:10px;
		border-width: 0px;
    border-radius: 30px;
    transition: all ease 0.5s;
    box-sizing: border-box;background: #f8f8f8;
    border-radius: 30px;
    transition: all ease 0.5s;
    box-sizing: border-box;
	border: 1px solid #eef0f2;
    }
	.top {
		margin-left: 50px; margin-right: 50px; border-radius: 20px;
		background-color: white;
	    padding:20px;
		text-align: center; align-items: center;
		margin-top:100px;
	}
	.submitbtn {
	border-radius: 30px;
	margin-top: 10px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-width: 1px;
	border-color: #467cdb;
    transition: all ease 0.5s;
	background-color: #467cdb;
	color: white;
	}
	.submitbtn:hover {
		background-color: white;
		color: #467cdb;
		border-width: 1px;
		border-color: #467cdb;
	}
	p {
		font-size: 1rem;
	}
	@media (max-width: 576px) {
		h2 {
			font-size: 1.1rem;
		}
		p {
		font-size: 0.9rem;
	}
	.top {
		margin-left: 20px; 
		margin-right: 20px; 
	}
	input {
		width: 85%;
	}
	}
	
</style>
<body>
	<!--Navbar-->
	<nav class="navbar navbar-expand-md navbar-light fixed-top">
		<div class="container-fluid">
		<a class="navbar-brand" style="color: white;" href="#">FrostHack</a>	
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		  <span class="navbar-toggler-icon">
		  </span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		  <ul class="navbar-nav ml-auto">
		  <li class="nav-item active"> <a class="ab" href="/#about">About</a></li>
			 <li class="nav-item "><a class="ab"href="/#gettingstarted">Getting Started</a></li>
			 <li class="nav-item "><a class="ab" href="/login">Login/Signup</a></li>
			 <li class="nav-item "><a class="ab" href="/#contact">Contact</a></li>
		  </ul>
		</div>
		</div> 
	  </nav>

<div class="container-fluid">
	<div class="row top justify-content-center align-self-center" >
        <div>
            <h2>Track Your Product</h2>
			<p>Enter Code and submit to get the tracking details.</p>
            <div>
                <div>
                    <input type="text" name="id" id="id" style="outline:none;" placeholder="13243656576" required /> 
					<button class="submitbtn" style="outline:none;" >Submit</button>
                </div>
            </div>
        </div>
    </div>
	</div> 
</body>
</html>
<!-- 5405c2 -->